<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<script>
    function send(t) {
        if (confirm("Вы уверены, что хотите удалить пользователя?"))
            t.submit();
    }
</script>
<header th:insert="parts/system_admin_header :: system_admin_header"></header>

<h4>Изменить данные пользователя [[${user.getFullName()}]]</h4>
<p>[[${message}]]</p>

<form th:action="@{/system-admin/edit/{id}(id=${user.getId()})}" method="post">
    <div class="form-check" th:each="role : ${roles}">
            <label><input type="checkbox" th:text="  Системный-администратор  " th:name="${role}" th:checked="${user.getRoles().contains(role)}" th:if="${role} == ${sys}" class="form-check-label" /></label>
            <label><input type="checkbox" th:text="  Завуч  " th:name="${role}" th:checked="${user.getRoles().contains(role)}" th:if="${role} == ${admin}" class="form-check-label" /></label>
            <label><input type="checkbox" th:text="  Учитель  " th:name="${role}" th:checked="${user.getRoles().contains(role)}" th:if="${role} == ${teacher}" class="form-check-label" /></label>
            <label><input type="checkbox" th:text="  Учащийся  " th:name="${role}" th:checked="${user.getRoles().contains(role)}" th:if="${role} == ${student}" class="form-check-label" /></label>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

<form th:action="@{/system-admin/del/{id}(id=${user.getId()})}" method="post" onsubmit="send(this);return false;">
    <div class="form-group">
        <label><input type="checkbox" name="del"/> Удалить пользователя</label>
    </div>
    <button type="submit" class="btn btn-primary">Удалить</button>
</form>

</body>
</html>
