<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<header th:insert="parts/teacher_admin_header :: teacher_admin_header" th:if="${role} == 'teacher_admin'"></header>
<header th:insert="parts/teacher_header :: teacher_header" th:if="${role} == 'teacher'"></header>
<header th:insert="parts/student_header :: student_header" th:if="${role} == 'student'"></header>

<h4>Тесты в модуле "[[${module.getTitle()}]]"</h4>

<div class="card-columns">
    <div class="card" th:each="test : ${tests}">
        <div class="card-body" >
            <h4 class="card-title" th:text="${test.getTitle()}"></h4>
            <div th:if="${role != 'student'}">
                <a th:href="@{/educated/test/{id}/statistics(id=${test.getId()})}" th:if="${!test.isType()}" class="btn btn-primary">Посмотреть</a>
                <a th:href="@{/educated/test/{id}/statistics-with-files(id=${test.getId()})}" th:if="${test.isType()}" class="btn btn-primary">Посмотреть</a>
            </div>

            <div th:if="${role} == 'student'">
                <a th:href="@{/student/test/{id}(id=${test.getId()})}" th:if="${!test.getStudentsMarks().containsKey(studentId)}" class="btn btn-primary">Посмотреть</a>
                <h6 th:text="${test.getStudentsMarks().get(studentId)}" th:if="${test.getStudentsMarks().containsKey(studentId)}" class="text-primary"></h6>
            </div>
        </div>
    </div>
</div>

</body>
</html>
