<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<header th:insert="parts/teacher_header :: teacher_header" th:if="${role} == 'teacher'"></header>
<header th:insert="parts/teacher_admin_header :: teacher_admin_header" th:if="${role} == 'teacher_admin'"></header>

<div class="p-3 mb-2 bg-light text-dark">
<h4>Статистические данные</h4>
<h6>Лучшая оценка - [[${max}]]</h6>
<h6>Худшая оценка - [[${min}]]</h6>
<h6>Средняя оценка - [[${mean}]]</h6>

<h4>Оценки учеников</h4>
<table class="table">
    <tr>
        <th scope="col">Имя</th>
        <th scope="col">Почта</th>
        <th scope="col">Оценка</th>
        <th scope="col" th:if="${role} == 'teacher'">Оствить комментарий</th>
        <th scope="col" th:if="${role} == 'teacher'">Просмотреть работу</th>
    </tr>
    <tr th:each="user, i : ${users}">
        <td th:text="${user.getFullName()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${allMarks.get(i.index)}"></td>

        <td><div><a
                th:href="@{/educated/test/{id}/comments/{id1}(id=${test.getId()}, id1=${user.getId()})}"
                class="btn btn-primary" th:if="${role == 'teacher'}">Написать
        </a></div></td>

        <div th:if="${role == 'teacher'}">
            <td><div><a
                    th:href="@{/educated/test/{id}/answers/{id1}(id=${test.getModule().getControlWork().get(user.getId())}, id1=${user.getId()})}"
                    class="btn btn-primary" th:if="${test.getSections() != 0}">Посмотреть
            </a></div></td>

            <td><div><a
                    th:href="@{/educated/test/{id}/answers/{id1}(id=${test.getId()}, id1=${user.getId()})}"
                    class="btn btn-primary" th:if="${test.getSections() == 0}">Посмотреть
            </a></div></td>
        </div>
    </tr>
</table>

<div th:if="${test.getSections()} != 0">
    <div th:each="q, in : ${questions}">
        <h5 th:if="${in.index} % ${div1} == 0"><b>Раздел</b></h5>
        <h5>Вопрос №[[${in.index + 1}]]:</h5><h5 class="text-secondary">[[${q.getQuestion()}]]</h5>
        <h5 class="text-success"> [[${correct.get(in.index)}]]</h5>
    </div>
</div>
<div th:if="${test.getSections()} == 0">
    <div th:each="q, in : ${questions}">
        <h5>Вопрос №[[${in.index + 1}]]:</h5><h5 class="text-secondary">[[${q.getQuestion()}]]</h5>
        <h5 class="text-success"> [[${correct.get(in.index)}]]</h5>
    </div>
</div>

</div>
</body>
</html>
