<div th:fragment="teacher_header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Тестирующая система</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/educated">Мои группы</a>
            <a class="p-2 text-dark" th:href="@{/educated/course/{id}/all-participants(id=${group.getId()})}" th:if="${group} != null">Список участников</a>
            <a class="p-2 text-dark" th:href="@{/educated/module/{id}(id=${module.getId()})}" th:if="${module} != null">[[${module.getTitle()}]]</a>
            <a class="p-2 text-dark" th:href="@{/educated/module/{id}/add-test(id=${module.getId()})}" th:if="${module} != null">Добавить тест</a>
            <a class="p-2 text-dark" href="/interaction">Письмо администратору</a>
            <a class="p-2 text-dark" href="/general/edit">Редактировать профиль</a>
        </nav>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Выйти"/>
        </form>
    </div>
</div>